<form id="form-kpi-type" class="form was-validated">
    <div class="form-row">
        <div class="col-sm-10">
            @Html.DeveloverTextBox(id: "EffectiveDate", label: "Tên vị trí", placeholder: "Tên vị trí")
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-10">
            @Html.DeveloverTextBox(id: "Value0", label: "Loại 0", placeholder: "Loại 0")
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-10">
            @Html.DeveloverTextBox(id: "Value1", label: "Loại 1", placeholder: "Loại 1")
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-10">
            @Html.DeveloverTextBox(id: "Value2", label: "Loại 2", placeholder: "Loại 2")
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-10">
            @Html.DeveloverTextBox(id: "Value3", label: "Loại 3", placeholder: "Loại 3")
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-10">
            @Html.DeveloverTextBox(id: "Value4", label: "Loại 4", placeholder: "Loại 4")
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-10">
            @Html.DeveloverTextBox(id: "Value5", label: "Loại 5", placeholder: "Loại 5")
        </div>
    </div>
</form>
