@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
}

@section Scripts
{
}

@section Breadcrumb
{
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Stationerys</li>
    </ol>
}

@section Tabs
{
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#">Stationerys</a></li>
}

<div class="tab-content">
    <div class="tab-pane fade show active" id="module-menu" role="tabpanel">
        <div class="row clearfix">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Stationerys Management</h3>
                        <div class="card-options">
                            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row clearfix row-deck">
                            <div class="col-4 col-md-4 offset-xl-3 col-xl-2">
                                <div class="card">
                                    <div class="card-body ribbon">
                                        <a href="@Url.Action("index", "openingstock", new { area = "stationery" })" class="my_sort_cut text-muted"><i class="fal fa-hand-holding-box"></i><span>Opening stock</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-4 col-xl-2">
                                <div class="card">
                                    <div class="card-body ribbon">
                                        <a href="@Url.Action("index", "receipt-note", new { area = "stationery" })" class="my_sort_cut text-muted"><i class="fal fa-hand-holding-box"></i><span>Receipt Note</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-4 col-xl-2">
                                <div class="card">
                                    <div class="card-body ribbon">
                                        <a href="@Url.Action("index", "issue-note", new { area = "stationery" })" class="my_sort_cut text-muted"><i class="fal fa-truck-loading"></i><span>Issue Note</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div class="page-title">Reports</div>
                       <div class="row clearfix row-deck">
                           <div class="col-4 col-md-4 col-xl-2">
                               <div class="card">
                                   <div class="card-body ribbon">
                                       <a href="@Url.Action("receiptnotelist", "report", new { area = "stationery" })" class="my_sort_cut text-muted"><i class="fal fa-inbox"></i><span>Receipt Note List</span></a>
                                   </div>
                               </div>
                           </div>
                           <div class="col-4 col-md-4 col-xl-2">
                               <div class="card">
                                   <div class="card-body ribbon">
                                       <a href="@Url.Action("totalreceiptnotelist", "report", new { area = "stationery" })" class="my_sort_cut text-muted"><i class="fal fa-dot-circle"></i><span>Totali Receipt Note List</span></a>
                                   </div>
                               </div>
                           </div>
                           <div class="col-4 col-md-4 col-xl-2">
                               <div class="card">
                                   <div class="card-body ribbon">
                                       <a href="@Url.Action("issuenotelist", "report", new { area = "stationery" })" class="my_sort_cut text-muted"><i class="fal fa-paper-plane"></i><span>Issue Note List</span></a>
                                   </div>
                               </div>
                           </div>
                           <div class="col-4 col-md-4 col-xl-2">
                               <div class="card">
                                   <div class="card-body ribbon">
                                       <a href="@Url.Action("totalissuenotelist", "report", new { area = "stationery" })" class="my_sort_cut text-muted"><i class="fal fa-dot-circle"></i><span>Total Issue Note List</span></a>
                                   </div>
                               </div>
                           </div>
                           <div class="col-4 col-md-4 col-xl-2">
                               <div class="card">
                                   <div class="card-body ribbon">
                                       <a href="@Url.Action("inventorylist", "report", new { area = "stationery" })" class="my_sort_cut text-muted"><i class="fal fa-dot-circle"></i><span>Import and Export Synthesis</span></a>
                                   </div>
                               </div>
                           </div>
                           <div class="col-4 col-md-4 col-xl-2">
                               <div class="card">
                                   <div class="card-body ribbon">
                                       <a href="@Url.Action("importandexportsynthesislist", "report", new { area = "stationery" })" class="my_sort_cut text-muted"><i class="fal fa-dot-circle"></i><span>Inventory List</span></a>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>